@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.467);
}

.borderPurple {
  @apply border-2 border-purple-700;
}
.gradient-background {
  background: linear-gradient(150deg, #742793c5, #5411ffc7);
}

/* Dark mode */
.dark .gradient-background {
  background: linear-gradient(150deg, #29313e, #2c3156);
}

.timeline {
  font-family: "roboto_mono", monospace;
}
